# Ignore all files and directories in the root
*

# Whitelist specific files in the root
!.gitignore
!README.md
!early-init.el
!init.el
!init-loader.el

# Whitelist the bin/etc/lisp directory and all its contents recursively
!bin/
bin/*
!bin/**

!etc/
etc/*
!etc/**

!lisp/
lisp/*
!lisp/**
