# Ignore all files and directories in the root
*

# Whitelist specific files in the root
!.gitignore
!README.md
!early-init.el
!init.el
!init-loader.el

# Whitelist the bin directory and all its contents recursively
!bin/
bin/*
!bin/**

# Whitelist the lisp directory and all its contents recursively
!lisp/
lisp/*
!lisp/**
